<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Product Combination'} %>

<% content_for :page_title do %>
  <%= Spree.t(:hotel_combination) %>
<% end %>

<table class="index" id='listing_combinations_hotels' data-hook>
  <caption>Combinations</caption>
  <thead>
  <tr data-hook="combinattions_hotel_header">
    <th> <%= Spree.t(:room) %> </th>
    <th> <%= Spree.t(:plan) %> </th>
    <th> <%= Spree.t(:begin) %> </th>
    <th> <%= Spree.t(:end) %> </th>
    <th> <%= Spree.t(:adults) %> </th>
    <th> <%= Spree.t(:children) %> </th>
    <th> <%= Spree.t(:price) %> </th>
  </tr>
  </thead>
  <tbody>
  <% @product.combinations.each do |combination| %>
    <tr id="<%= spree_dom_id combination %>" data-hook="combination_hotel_row" class="<%= cycle('odd', 'even')%>">
      <td><%= combination.room_id %></td>
      <td><%= combination.plan_id %></td>
      <td><%= combination.init_date  %></td>
      <td><%= combination.end_date %></td>
      <td><%= combination.adults %></td>
      <td><%= combination.children %></td>
      <td><%= combination.price %></td>
    </tr>
  <% end %>
  <% if @product.combinations.empty? %>
    <tr data-hook="combination_hotel_none"><td colspan="10"><%= Spree.t(:no_combinations_for_this_hotel) %></td></tr>
  <% end %>
  </tbody>
</table>



