<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Product Rate'} %>

<% content_for :page_title do %>
  <%= Spree.t(:hotel_rate) %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
    <%= button_link_to Spree.t(:new_rate), new_hotel_rate_path(:permalink => params[:permalink]), :icon => 'icon-plus', :id => 'admin_new_rate_hotel_link' %>
    <%= button_link_to Spree.t(:new_exception), new_hotel_exception_path(:permalink => params[:permalink]), :icon => 'icon-plus', :id => 'admin_new_exception_hotel_link' %>
    <%= button_link_to Spree.t(:generate), generate_hotel_combinations_path(:permalink => params[:permalink]), :id => 'admin_generate_hotel_combinations_link' %>
    </li>
  </ul>
<% end %>

<%
  # TODO: sacar los valores estos de los option_types
    room_options           = [["Standard", 1], ["Master Suite", 2], ["Junior Suite", 3]]
    room_options_with_null = [['-', nil]] + room_options
    plan_options           = [["CP", 1], ["AP", 2], ["MAP", 3]]
    plan_options_with_null = [['-', nil]] + plan_options
    delete_options = {:no_text => true, :class => 'delete-resource', :data => {:confirm => Spree.t(:are_you_sure), :action => :remove}}
    delete_options2 = {:no_text => true, :data => {:confirm => Spree.t(:are_you_sure), :method => :post}}
%>

<%= form_tag(update_hotel_rate_path(params[:permalink])) do %>
<table class="index" id='listing_rate_hotels' data-hook>
  <caption>Rates</caption>
  <colgroup>
    <col />
    <col />
    <col style="width: 12%" />
    <col style="width: 12%" />
  </colgroup>
  <thead>
  <tr data-hook="rate_hotel_header">
      <th> <%= Spree.t(:room) %> </th>
      <th> <%= Spree.t(:plan) %> </th>
      <th> <%= Spree.t(:begin) %> </th>
      <th> <%= Spree.t(:end) %> </th>
      <th title="<%= Spree.t(:simple_room)%>"> <%= '1A' %> </th>
      <th title="<%= Spree.t(:double_room)%>"> <%= '2A' %> </th>
      <th title="<%= Spree.t(:triple_room)%>"> <%= '3A' %> </th>
      <th title="<%= Spree.t(:extra_adult)%>"> <%= 'AE' %> </th>
      <th title="<%= Spree.t(:first_child)%>"> <%= '1C' %> </th>
      <th title="<%= Spree.t(:second_child)%>"> <%= '2C' %> </th>
      <th title="<%= Spree.t(:max_adults)%>"> <%= 'MA' %> </th>
      <th title="<%= Spree.t(:max_children)%>"> <%= 'MC' %> </th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @product.rates.each do |rate_hotel|
    @delete_url = destroy_hotel_rate_url(@product.permalink, rate_hotel.id)
    room_select = options_for_select(room_options, rate_hotel.room_id)
    plan_select = options_for_select(plan_options, rate_hotel.plan_id)
    id = rate_hotel.id
  %>
    <tr id="<%= spree_dom_id rate_hotel %>" data-hook="rate_hotel_row" class="<%= cycle('odd', 'even')%>">
      <td><%= select_tag "rate_room_#{id}", room_select  %></td>
      <td><%= select_tag "rate_plan_#{id}", plan_select  %></td>
      <td><%= text_field_tag "rate_init_date_#{id}", rate_hotel.init_date, :class => 'datepicker small' %></td>
      <td><%= text_field_tag "rate_end_date_#{id}", rate_hotel.end_date, :class => 'datepicker small' %></td>
      <td><%= text_field_tag "rate_adults_one_#{id}", rate_hotel.adults_one, :class => 'small' %></td>
      <td><%= text_field_tag "rate_adults_two_#{id}", rate_hotel.adults_two, :class => 'small' %></td>
      <td><%= text_field_tag "rate_adults_three_#{id}", rate_hotel.adults_three, :class => 'small' %></td>
      <td><%= text_field_tag "rate_adults_extra_#{id}", rate_hotel.adults_extra, :class => 'small' %></td>
      <td><%= text_field_tag "rate_children_one_#{id}", rate_hotel.children_one, :class => 'small' %></td>
      <td><%= text_field_tag "rate_children_two_#{id}", rate_hotel.children_two, :class => 'small' %></td>
      <td><%= text_field_tag "rate_max_adults_#{id}", rate_hotel.max_adults, :class => 'small' %></td>
      <td><%= text_field_tag "rate_max_chilndren_#{id}", rate_hotel.max_children, :class => 'small' %></td>
      <td class="actions">
        <%= link_to_with_icon 'icon-trash', '', @delete_url, delete_options %>
    </tr>
  <% end %>
  <% if @product.rates.empty? %>
    <tr data-hook="rate_hotel_none"><td colspan="10"><%= Spree.t(:no_rate_for_this_hotel) %></td></tr>
  <% end %>
  </tbody>
</table>

<table class="index" id='listing_exception_hotels' data-hook>
  <caption>Exceptions</caption>
  <thead>
  <tr data-hook="exception_hotel_header">
      <th> <%= Spree.t(:room) %> </th>
      <th> <%= Spree.t(:plan) %> </th>
      <th> <%= Spree.t(:begin) %> </th>
      <th> <%= Spree.t(:end) %> </th>
      <th> <%= Spree.t(:adults) %> </th>
      <th> <%= Spree.t(:children) %> </th>
    <th class="actions"></th>
  </tr>
  </thead>
  <tbody>
  <% @product.exceptions.each do |exception|
    @delete_url = destroy_hotel_exception_path(@product.permalink, exception.id)
    room_select = options_for_select(room_options_with_null, exception.room_id)
    plan_select = options_for_select(plan_options_with_null, exception.plan_id)
    id = exception.id
  %>
    <tr id="<%= spree_dom_id exception %>" data-hook="exception_hotel_row" class="<%= cycle('odd', 'even')%>">
      <td><%= select_tag "exception_room_#{id}", room_select %></td>
      <td><%= select_tag "exception_plan_#{id}", plan_select  %></td>
      <td><%= text_field_tag "exception_init_date_#{id}", exception.init_date, :class => 'datepicker small' %></td>
      <td><%= text_field_tag "exception_end_date_#{id}", exception.end_date, :class => 'datepicker small' %></td>
      <td><%= text_field_tag "exception_adults_#{id}", exception.adults, :class => 'small' %></td>
      <td><%= text_field_tag "exception_children_#{id}", exception.children, :class => 'small' %></td>
      <td class="actions">
        <%= link_to_with_icon 'icon-trash', '',  @delete_url, delete_options2 %>
    </tr>
  <% end %>
  <% if @product.exceptions.empty? %>
    <tr data-hook="exception_hotel_none"><td colspan="10"><%= Spree.t(:no_exception_for_this_hotel) %></td></tr>
  <% end %>
  </tbody>
</table>

<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= submit_tag Spree.t('actions.update'), :class => 'icon-refresh button' %>
</div>

<% end %>


