<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @spree_rate_hotel.product_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @spree_rate_hotel.room_id %>
</p>

<p>
  <strong>Init date:</strong>
  <%= @spree_rate_hotel.init_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @spree_rate_hotel.end_date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @spree_rate_hotel.plan_id %>
</p>

<p>
  <strong>Adults one:</strong>
  <%= @spree_rate_hotel.adults_one %>
</p>

<p>
  <strong>Adults two:</strong>
  <%= @spree_rate_hotel.adults_two %>
</p>

<p>
  <strong>Adultd three:</strong>
  <%= @spree_rate_hotel.adultd_three %>
</p>

<p>
  <strong>Children one:</strong>
  <%= @spree_rate_hotel.children_one %>
</p>

<p>
  <strong>Children two:</strong>
  <%= @spree_rate_hotel.children_two %>
</p>

<p>
  <strong>Adults extra:</strong>
  <%= @spree_rate_hotel.adults_extra %>
</p>

<p>
  <strong>Exceptions:</strong>
  <%= @spree_rate_hotel.exceptions %>
</p>

<%= link_to 'Edit', edit_spree_rate_hotel_path(@spree_rate_hotel) %> |
<%= link_to 'Back', spree_rate_hotels_path %>
