<%= form_for(@spree_hotel_rate) do |f| %>
  <% if @spree_hotel_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spree_hotel_rate.errors.count, "error") %> prohibited this spree_hotel_rate from being saved:</h2>

      <ul>
      <% @spree_hotel_rate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id %><br>
    <%= f.number_field :room_id %>
  </div>
  <div class="field">
    <%= f.label :init_date %><br>
    <%= f.date_select :init_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :plan_id %><br>
    <%= f.number_field :plan_id %>
  </div>
  <div class="field">
    <%= f.label :adults_one %><br>
    <%= f.text_field :adults_one %>
  </div>
  <div class="field">
    <%= f.label :adults_two %><br>
    <%= f.text_field :adults_two %>
  </div>
  <div class="field">
    <%= f.label :adultd_three %><br>
    <%= f.text_field :adultd_three %>
  </div>
  <div class="field">
    <%= f.label :children_one %><br>
    <%= f.text_field :children_one %>
  </div>
  <div class="field">
    <%= f.label :children_two %><br>
    <%= f.text_field :children_two %>
  </div>
  <div class="field">
    <%= f.label :adults_extra %><br>
    <%= f.text_field :adults_extra %>
  </div>
  <div class="field">
    <%= f.label :exceptions %><br>
    <%= f.text_field :exceptions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
