<h1>Listing spree_hotel_rates</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Init date</th>
      <th>End date</th>
      <th>Plan</th>
      <th>Adults one</th>
      <th>Adults two</th>
      <th>Adultd three</th>
      <th>Children one</th>
      <th>Children two</th>
      <th>Adults extra</th>
      <th>Exceptions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_hotel_rates.each do |spree_hotel_rate| %>
      <tr>
        <td><%= spree_hotel_rate.room_id %></td>
        <td><%= spree_hotel_rate.init_date %></td>
        <td><%= spree_hotel_rate.end_date %></td>
        <td><%= spree_hotel_rate.plan_id %></td>
        <td><%= spree_hotel_rate.adults_one %></td>
        <td><%= spree_hotel_rate.adults_two %></td>
        <td><%= spree_hotel_rate.adultd_three %></td>
        <td><%= spree_hotel_rate.children_one %></td>
        <td><%= spree_hotel_rate.children_two %></td>
        <td><%= spree_hotel_rate.adults_extra %></td>
        <td><%= spree_hotel_rate.exceptions %></td>
        <td><%= link_to 'Show', spree_hotel_rate %></td>
        <td><%= link_to 'Edit', edit_spree_hotel_rate_path(spree_hotel_rate) %></td>
        <td><%= link_to 'Destroy', spree_hotel_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel rate', new_spree_hotel_rate_path %>
