<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @spree_hotel_rate.room_id %>
</p>

<p>
  <strong>Init date:</strong>
  <%= @spree_hotel_rate.init_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @spree_hotel_rate.end_date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @spree_hotel_rate.plan_id %>
</p>

<p>
  <strong>Adults one:</strong>
  <%= @spree_hotel_rate.adults_one %>
</p>

<p>
  <strong>Adults two:</strong>
  <%= @spree_hotel_rate.adults_two %>
</p>

<p>
  <strong>Adultd three:</strong>
  <%= @spree_hotel_rate.adultd_three %>
</p>

<p>
  <strong>Children one:</strong>
  <%= @spree_hotel_rate.children_one %>
</p>

<p>
  <strong>Children two:</strong>
  <%= @spree_hotel_rate.children_two %>
</p>

<p>
  <strong>Adults extra:</strong>
  <%= @spree_hotel_rate.adults_extra %>
</p>

<p>
  <strong>Exceptions:</strong>
  <%= @spree_hotel_rate.exceptions %>
</p>

<%= link_to 'Edit', edit_spree_hotel_rate_path(@spree_hotel_rate) %> |
<%= link_to 'Back', spree_hotel_rates_path %>
