<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @spree_hotel_combination.room_id %>
</p>

<p>
  <strong>Init date:</strong>
  <%= @spree_hotel_combination.init_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @spree_hotel_combination.end_date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @spree_hotel_combination.plan_id %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @spree_hotel_combination.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @spree_hotel_combination.children %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spree_hotel_combination.price %>
</p>

<%= link_to 'Edit', edit_spree_hotel_combination_path(@spree_hotel_combination) %> |
<%= link_to 'Back', spree_hotel_combinations_path %>
